/*define le style de toute la page*/
body
{
    background-color: #DAD7CD;
    color:#fff;
    font-family: 'Crimson Text', serif;

    margin: 0%;
    

}
#topsection
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

header
{
    background-color:#32502E;
    border:#2a4427 2px solid;
    border-radius: 10px;
    margin: 2%;
    margin-right: 38%;
    padding-right: 10%;
    padding-left: 10%;
    font-size:1rem;
    font-style: normal;
}
h2
{
    text-align: center;
    color: #32502E;
    text-decoration: underline;
}

#formulaire
{
    color:#32502E;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;

}
#formulaire div
{
    
    background-color: #588157;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 0px #588157 solid;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    
}
.background1, .background2, .background3, .background4
{
    height:110px;
    width: 40%;
}

#formulaire div:hover
{
    background-color: #32502E;
}
#formulaire p
{
    margin: auto;
    height:100%;
    width: 100%;
    
    border-radius: 10px;
    font-size: 2rem;
}
#correction 
{
    color: #32502E;
    text-align:justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
    margin-top: 0%;
}
#footer
{
    display: flex;
    justify-content: space-between;
    
}
h3
{
    background-color: #588157;
    border-radius: 10px;
    
    width:80px;
    height:30px;
    padding-top:15px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0;
}
h3:hover
{
    background-color: #32502E;
    text-decoration: underline;
}
h4
{
    color:#32502E;
    font-size: 2rem;
    
}