

#topsection
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom:#406343 10px solid;
}



header
{
    background-color:#32502E;
    border:#2a4427 2px solid;
    border-radius: 10px;
    margin: 2%;
    margin-right: 5%;
    padding-right: 10%;
    padding-left: 10%;
    font-size:smaller;
    font-style: normal;
    font-size:1rem;
}
h1
{
    font-weight: normal;
}
strong
{
    font-style: italic;
}

body
{
    background-color: #F3EFCC;
    color: #ffffff;
    
    font-family: 'Crimson Text', serif;
    

}
nav ul
{
    padding: 0%;
    list-style-type: none;
    display:flex;
     
    margin-top: 0px;
    margin-left: 0%;
    font-size: 1.25rem;
}
nav li
{
    text-align: center;
    background-color:#32502E;
    padding-top:1%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    border:#2a4427 2px solid;
  
}
.choix1
{
    width:20%
}
.choix2
{
    width:25%
}.choix3
{
    width:25%
}.choix4
{
    width:15%
}.choix5
{
    width:15%
}

nav li:hover
{
    background-color: #406343;
    color:#fff;
    border-top: none;

}

#boite
{
    display:flex;
    justify-content: center;
    
   
    
}
.manage 
{
    
    border-right: #2a4427 4px solid; 
    width: 50%;
    
    position:relative;  
}

.edit
{
    
    border-left: #2a4427 4px solid; 
    
    width:50%;
    height: 400px;
    position:relative;  
}

.manage h1,.edit h1
{
    background-color: #32502E;
    border:#2a4427 2px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    font-weight: normal;

    
}
label 
{
    margin-top:0px;
    margin-bottom: 0%;
    margin-left: 3%;
    display: block;
    color:#32502E;
}



.manage h3,.edit h3
{
    list-style: none;
    
    color:#32502E;
    margin-left: 3%;
    margin-right: 65%;
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 1rem;
    font-weight: normal;
}
.manage h2
{
    background-color: #32502E;
    border:#466142 2px solid;
    border-radius: 10px;
    margin-bottom: 1%;
    position:absolute;
    bottom: 0%;
    right:10%;
    font-weight: normal;
    padding:2%;
    font-size:1.25rem;
    

}
.edit h2
{
    background-color: #32502E;
    border:#466142 2px solid;
    border-radius: 10px;
    margin-bottom: 1%;
    
    font-weight: normal;
    padding:2%;
    font-size:1.25rem;
    
}
.delete
{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.confirm
{
    position: absolute;
    bottom: 0%;
    right: 0%;
}
input
{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
}
