  #topsection
+strong
{
    font-style: italic;
}
/*define le style de toute la page*/
body
{
    background-color: #DAD7CD;
    color:#fff;
    font-family: 'Crimson Text', serif;

    margin: 0%;
    

}

/*organise et definie le style du header*/
nav
{
    display: flex;
    padding-bottom: 0%;
    background-color:#304B3F;
    margin-bottom: 0px;
    height:80px;
    
}

/*enleve les marges du logo*/
figure
{
    margin: 0%;
    padding-left: 3%;
    padding-right:3%;
    transition: all 1s ease-out;
}
figure:hover
{
    background-color: #DAD7CD;
}
/*organise liste*/
nav ul
{
    padding: 0%;
    list-style-type: none;
    display:flex;
    width:100%;
    margin:0%;
    font-size: 1.25rem;
    height:80px;
    
    
}
/*organise les element de la liste*/
nav li
{
    text-align: center;
    
    padding-top:20px;
    padding-left: 2%;
    padding-bottom: 5px;
    padding-right: 2%;
    transition: all 1s ease-out;
    
}
/*change l'apparence des liens vers les autres page quand le curseur est dessus*/
nav li:hover
{
    background-color: #20322A;
    color:#fff;
    border-top: none;
}

/*répartie également les elements de la liste*/
.choix1
{
    flex-grow:5;
    
}
.choix2
{
    flex-grow:5
}
.choix3
{
    flex-grow:5;
}
.choix4
{
    flex-grow:5;
    
} 

/*change la couleur des liens*/
a
{
    color:#fff;
    text-decoration: none;
}

tbody:nth-child(odd)  { background-color :#DAD7CD; }
   
tbody:nth-child(even) { background-color : #DAD7CD; }

th 

{ 
        background-color : #304B3F; 
        padding-left:3em ;
        padding-right:6.5em ;
        padding-top:2em ;
        padding-bottom:2em ;
}
td

{ 
        padding:1.8em;

}
.centrerLeTableau {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
table, th, td {
  border: 1px solid #2a4427;
  width: 50%
}
