/*style header manager*/
#topsection
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom:#406343 10px solid;
}


header
{
    background-color:#32502E;
    border:#2a4427 2px solid;
    border-radius: 10px;
    margin: 2%;
    margin-right: 5%;
    padding-right: 10%;
    padding-left: 10%;
    font-size:1rem;
    font-style: normal;
}
h1
{
    font-weight: normal;
}
strong
{
    font-style: italic;
}
body
{
    background-color: #F3EFCC;
    color:#fff;
    font-family: 'Crimson Text', serif;
    

}
nav ul
{
    padding: 0%;
    list-style-type: none;
    display:flex;
     
    margin-top: 0px;
    margin-left: 0%;
    font-size: 1.25rem;
    
}
nav li
{
    text-align: center;
    background-color:#32502E;
    padding-top:1%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    border:#2a4427 2px solid;
  
}
.choix1
{
    width:20%
}
.choix2
{
    width:25%
}.choix3
{
    width:25%
}.choix4
{
    width:15%
}.choix5
{
    width:15%
}

nav li:hover
{
    background-color: #406343;
    color:#fff;
    border-top: none;
}


a
{
    color:#fff;
    text-decoration: none;
}
/*fin header*/




#photo
{
    text-align: center;
}
footer ul
{
    list-style-type: none;
    display:flex;
    flex-direction: row; 
    justify-content:center;
    width:30%;
    position:absolute;
    bottom:0%;
    right:35%;

    
 
}
footer li
{
    color: #32502E;
    padding-left: 2%;
    padding-right: 2%;
    font-size:small;
    font-style: italic;
    
    
}
footer li:hover
{
    text-decoration: underline;
}

