/*debut de style du header*/
strong
{
    font-style: italic;
}
/*define le style de toute la page*/
body
{
    background-color: #DAD7CD;
    color:#fff;
    font-family: 'Crimson Text', serif;

    margin: 0%;
    

}

/*organise et definie le style du header*/
nav
{
    display: flex;
    padding-bottom: 0%;
    background-color:#304B3F;
    margin-bottom: 0px;
    height:80px;
    
}

/*enleve les marges du logo*/
figure
{
    margin: 0%;
    padding-left: 3%;
    padding-right:3%;
    transition: all 1s ease-out;
}
figure:hover
{
    background-color: #DAD7CD;
}
/*organise liste*/
nav ul
{
    padding: 0%;
    list-style-type: none;
    display:flex;
    width:100%;
    margin:0%;
    font-size: 1.25rem;
    height:80px;
    
    
}
/*organise les element de la liste*/
nav li
{
    text-align: center;
    
    padding-top:20px;
    padding-left: 2%;
    padding-bottom: 5px;
    padding-right: 2%;
    transition: all 1s ease-out;
    
}
/*change l'apparence des liens vers les autres page quand le curseur est dessus*/
nav li:hover
{
    background-color: #20322A;
    color:#fff;
    border-top: none;
}

/*répartie également les elements de la liste*/
.choix1
{
    flex-grow:5;
    
}
.choix2
{
    flex-grow:5
}
.choix3
{
    flex-grow:5;
}
.choix4
{
    flex-grow:5;
    
} 

/*change la couleur des liens*/
a
{
    color:#fff;
    text-decoration: none;
}

/*fin header*/
.body
{
    display:flex;
}
.information 
{
    width: 50%;
}
.graph
{
    width: 50%;
}

.about1, .about2
{
    background-color: #fff;
    border: 2px grey solid;
    color:#304B3F;
    margin-right: 40%;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 5%;
}
.about2 h2
{
    text-decoration: underline;
}

.graph figure
{
    margin-top: 5%;
}
.graph h1
{
    background-color: #fff;
    border: 2px grey solid;
    color:#304B3F;
    font-size: 1.5rem;
    width:600px;
    
    margin-left: 3%;
    text-align: center;
}