/*debut de style du header*/
strong
{
    font-style: italic;
}
/*define le style de toute la page*/
body
{
    background-color: #DAD7CD;
    color:#fff;
    font-family: 'Crimson Text', serif;

    margin: 0%;


}

/*organise et definie le style du header*/
nav
{
    display: flex;
    padding-bottom: 0%;
    background-color:#304B3F;
    margin-bottom: 0px;
    height:80px;

}

/*enleve les marges du logo*/
figure
{
    margin: 0%;
    padding-left: 3%;
    padding-right:3%;
    transition: all 1s ease-out;
}
figure:hover
{
    background-color: #DAD7CD;
}
/*organise liste*/
nav ul
{
    padding: 0%;
    list-style-type: none;
    display:flex;
    width:100%;
    margin:0%;
    font-size: 1.25rem;
    height:80px;


}
/*organise les element de la liste*/
nav li
{
    text-align: center;

    padding-top:20px;
    padding-left: 2%;
    padding-bottom: 5px;
    padding-right: 2%;
    transition: all 1s ease-out;

}
/*change l'apparence des liens vers les autres page quand le curseur est dessus*/
nav li:hover
{
    background-color: #20322A;
    color:#fff;
    border-top: none;
}

/*répartie également les elements de la liste*/
.choix1
{
    flex-grow:5;

}
.choix2
{
    flex-grow:5
}
.choix3
{
    flex-grow:5;
}
.choix4
{
    flex-grow:5;

}
.choix5
{
    flex-grow:5;

}


/*change la couleur des liens*/
a
{
    color:#fff;
    text-decoration: none;
}

/*fin header*/

table{
  border-spacing: 10px;
  text-align: left;
}
.faq{
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  color: black;
  font-size: 1.25rem;
}
.input{
  padding-left: 100px;
}
hr{
  border-color: #ECE7B4;
}
h2{
  color: black;
  padding-left: 3px;
}
h2[name|=new-questions]{
  padding-left: 3rem;
  padding-top: 2rem;
}

textarea{
  padding: 10px;
  line-height: 1.5;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 100%;
  font-family: stylesheet;
  font-size: 1rem;
}

button[name|=submit-answer]{
  margin-left: 90%;
}

/*rendre la police du bouton 'answer-questions'noir (par défaut: blanc) */
a[name|=answer-questions]{
  color: black;
}