html{
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	background-color:#fff;
}
@media all and (max-width: 1024px) and (max-width: 1280px)
{
    #bloc_page
    {
        width: auto;
    }
}

body {
	padding: 0;
	margin: 0;
}
button {
	background-color : #406343;
	color: white;
	border: thick double #2a4427;
	cursor:pointer;
	padding: 5px;

}

input {
	border: 1px solid black;
	padding: 5px 10px;
	margin-left: 10px;
}
*{
	box-sizing:border-box;
}

header h1 {
	margin:0;
}

form {
	text-align: left;
	display: inline-block;
}

#form {
	text-align: left;
}
#info {
	text-align: center;
}
#success{
	background-color: green;
	color:white;
	text-align:center;	
	padding:5px;
}
#error {
	background-color: red;
	color: white;
	text-align: center;
	padding: 5px;
	display: inline-block;
	margin: auto;
}
.container {
	width: 500px;
	margin: 0 auto;
	background-color:#F3EFCC;
	padding: 20px;
}